<!doctype html>
<form>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
					<label for="user_email">User having my favor:</label>
					<input type="email" class="form-control" id="user_email" 
					value="user_email@email.world">
					<label for="amount">Favor Amount (in $):</label>
					<input type="number" class="form-control" id="amount" 
					value="0">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row debt-fav-row">
				<input type="submit" class="btn log-btn" value="Submit">
			</div>
		</div>
	</div>
</form>
