<!doctype html>
<form>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
					<label for="favor_email">User having my favor:</label>
					<input type="email" class="form-control" id="favor_email" 
					value="email_of_user_i_favor">
					<label for="favor_amount">Favor Amount (in $):</label>
					<input type="number" class="form-control" id="favor_amount" 
					value="1">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row debt-fav-row">
				<input type="submit" class="btn log-btn" value="Change">
			</div>
			<div class="row debt-fav-row">
				<button class="btn log-btn">
					Close Favor
				</button>
			</div>
		</div>
	</div>
</form>
