<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %> 
	</head>
 	<body class="container bg-1 d-flex justify-content-center">
		<div class="row text-center">
			<h1>Remember Your Money</h1>
		</div>
		<div class="modifBox" id="modifUserBox"></div>	
		<div class="row steps-row">
			<form>
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-3">
						 <div class="form-group">
							<label for="email">E-mail</label>
							<input type="email" class="form-control" id="email" 
							placeholder="your email">
						 </div>
					</div>
					<div class="col-sm-2 user-col">
						<input type="submit" class="btn log-btn" id="changeEmail" value="Change">
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			<form>
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-3">
						 <div class="form-group">
							<label for="password">Password</label>
							<input type="text" class="form-control" id="password" 
							placeholder="your password">
						 </div>
					</div>
					<div class="col-sm-2 user-col">
						<input type="submit" class="btn log-btn" id="changePassword" value="Change">
					</div>
				</div>
					<div class="errorBox" id="errorUserBox"></div>	
			</form>
			<br />
			<div class="row ">
				<center>			
					<button id="deleteUser" class="btn btn-danger">
						Delete account
					</button>
					<button id="LogOut" class="btn btn-warning">
						log out
					</button>
				</center>			
			</div>
		</div>

		<div class="row pad-row bg-2">
		<div class="errorBox" id="errorGetMetricsBox"></div>
			<div class="col-sm-6">
				<h1>Debts</h1>
				<br>
				<div id="debts-container"></div>
				<br>
				<button class="btn log-btn adder">
					Add Debt
				</button>
			</div>
			<div class="col-sm-6">
				<h1>Favors</h1>
				<br>
				<div id="favors-container"></div>
				<br>
				<button class="btn log-btn adder">
					Add Favor
				</button>
			</div>
		</div>
		<script src="/javascripts/addWindowDisplay.js"></script>
		<div class="row pad-row bg-2">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<br>
				<div class="" id="add-new-container"></div>
				<br>
			</div>
			<div class="col-sm-2 "></div>
		</div>
	</body>
	<script src="/javascripts/userPage.js"></script>
</html>
