<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %> 
	</head>
 	<body class="container bg-1 d-flex justify-content-center">
		<div class="row text-center">
			<h1>Remember Your Money</h1>
		</div>
		<div class="row steps-row">
			<form>
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm-4">
						 <div class="form-group">
							<label for="email">E-mail</label>
							<input type="email" class="form-control" id="email" 
							value="email_of_user@email.world">
						 </div>
					</div>
					<div class="col-sm-2 user-col">
						<input type="submit" class="btn log-btn" value="Change">
					</div>
				</div>
			<form>
		</div>
		<div class="row">
			<form>
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm-4">
						 <div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" 
							value="UserPassword1234!">
						 </div>
					</div>
					<div class="col-sm-2 user-col">
						<input type="submit" class="btn log-btn" value="Change">
					</div>
				</div>
			<form>
		</div>
 		<script src="/javascripts/metricsDisplay.js"></script>

		<div class="row pad-row bg-2">
			<div class="col-sm-6">
				<h1>Debts</h1>
				<br>
				<div id="debts-container"></div>
				<br>
				<button class="btn log-btn adder">
					Add Debt
				</button>
			</div>
			<div class="col-sm-6">
				<h1>Favors</h1>
				<br>
				<div id="favors-container"></div>
				<br>
				<button class="btn log-btn adder">
					Add Favor
				</button>
			</div>
		</div>
		<script src="/javascripts/addWindowDisplay.js"></script>
		<div class="row pad-row bg-2">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<br>
				<div class="" id="add-new-container"></div>
				<br>
			</div>
			<div class="col-sm-2 "></div>
		</div>
	</body>
</html>
