body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.bg-1 { 
	background-image: url("../images/Money.jpg");
	background-repeat: no-repeat;
	color: #aaaaaa;
}

.bg-2 {
	background: rgba(0, 0, 0, 0.5);
	color: #cccccc;

}

.log-btn {
	color: #777777;
}

.steps-row {
	padding-top: 50px;
}

.pad-row {
	padding-top: 5%;
	padding-left: 12%;
}

.debt-fav-row {
	padding-top:9.5%;
}

.user-col {
	padding-top: 1.85%;
	padding-left: 1%;
}

.errorBox{
	color: rgb(212, 146, 146);
	font-size: 20px;
	font-weight: bold;
}
.modifBox{
	color: rgb(146, 212, 151);
	font-size: 20px;
	font-weight: bold;
}
.add-window {
	position:relative;
	margin: 0 auto;
	top: 50%;
}
